*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.app{
  height: 100vh;
  background-color: #acb7e9;
}
.header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 10px;
  background-color: #000000;
}
header h1{
  margin-left: 10px;
  color: rgba(255, 230, 1, 0.749);
}
.search{
  width: 100%;
}
.searchbar{
  text-align: center;
  margin: 20px;
}
.searchbar input{
  width: 50%;
  height: 30px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: none;
}
.searchbar input:focus{
  border: 2px solid #909090;
}
.searchbar button{
  width: 70px;
  height: 30px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: rgba(0, 0, 255, 0.772);
}
.weather-class{
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.weather{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #9c9898;
  border-radius: 2px;
}
.weather-info{
  display: flex;
  flex-direction: column;
  margin: 10px 80px;
}
.weather-info p{
  margin: 10px;
}

@media screen and (max-width:750px){
  .weather-class{
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .weather{
    flex-direction: column;
    justify-content: center;
    background-color: #9c9898;
    border-radius: 2px;
  }
  .weather-info{
    flex-direction: column;
    justify-content: center;
    margin: 10px 80px;
  }
}